body{
	margin:0;
	padding: 0;
	background:#000;
}

p 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:5px;
	line-height:8px;
	text-align:justify;
	-webkit-background-size:cover;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	background: url(perl.png)no-repeat center/cover,url("perl.png") no-repeat center/cover;
	background-attachment: fixed;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255, 255, 255, 0);
}
